{{page-title "Query Text"}}

<header>
  <nav class="nav">
    {{#if this.loadDisabled}}
      <button type="button" disabled>
        Load Valid 
      </button>
      <button type="button" disabled>
        Load Invalid
      </button>
    {{else}}
      <button type="button" {{on 'click' (fn this.clickedLoad true) }}>
        Load Valid
      </button>
      <button type="button" {{on 'click' (fn this.this.clickedLoad false) }}>
        Load Invalid
      </button>
      {{/if}}
  </nav>
</header>
<main>

{{outlet}}

<LinkTo @route="index">Back to Top</LinkTo>

</main>